* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "btn-font";
  src: url(../fonts/local-fonts/sf_arch_rival_bold-webfont.woff) format("woff"),
    url(../fonts/local-fonts/sf_arch_rival-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: fa;
  src: url();
}

body {
  font-family: btn-font;
}

h1 {
  color: hsla(234, 50%, 48%, 1);

  color: radial-gradient(
    circle,
    hsla(234, 50%, 48%, 1) 0%,
    hsla(150, 61%, 48%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3D49B8", endColorstr="#30C67C", GradientType=1 );
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  align-items: center;
}
.task-button {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 70%;
}
.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 10px;
  font-size: 14px;
}
.box {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
input {
  padding: 12px;
  font-family: btn-font;
  width: 90%;
  border: none;
  outline: none;
  font-size: 15px;
}
input::placeholder {
  color: hsla(234, 50%, 48%, 1);

  color: radial-gradient(
    circle,
    hsla(234, 50%, 48%, 1) 0%,
    hsla(150, 61%, 48%, 1) 100%
  );
}
button {
  padding: 17px;
  width: 40%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border: 1px solid black;
  font-family: "btn-font";
  font-weight: bold;

  font-size: 15px;
}
.boxes {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  width: 50%;
  color: hsla(234, 50%, 48%, 1);

  color: radial-gradient(
    circle,
    hsla(234, 50%, 48%, 1) 0%,
    hsla(150, 61%, 48%, 1) 100%
  );
}
.tasks div {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  width: 70%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks section {
  width: 40%;
} 
.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.tasks button {
  padding: 10px;
  width: 40%;
  background: none;
}

.outer-div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.task-status {
  display: flex;
  justify-content: space-between;

  width: 70%;
}
